<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB-ZZJ26t9_Kht28Ek7mVT2YoD7ndUVJM</string>
	<key>GCM_SENDER_ID</key>
	<string>186406022574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapleroutine.app</string>
	<key>PROJECT_ID</key>
	<string>maple-routine</string>
	<key>STORAGE_BUCKET</key>
	<string>maple-routine.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186406022574:ios:40f2af4e3852372a6aac3f</string>
</dict>
</plist>